@font-face {
    font-family: "psbold";
    src: url("font/PSBold.ttf")
}

@font-face {
    font-family: "psregular";
    src: url("font/PSRegular.ttf")
}


/*Index*/

body {
    font-family: "psregular";
    height: 100vh;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.f-psr {
    font-family: "psregular";
}
.f-psb {
    font-family: "psbold";
}
.fs14 {
    font-size: 14px;
}
.fs12 {
    font-size: 12px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}
#search-input {
    border-radius: 0px 100px 100px 0px;
    border: none;
}
#addon-wrapping {
    border-radius: 100px 0px 0px 100px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.form-style{
    border: rgb(194, 194, 194) 1px solid;
    border-radius: 100px;
}
.fa-search {
    color: rgb(180, 180, 180);
}
#search-input:focus {
    box-shadow: none !important;
    outline: none !important;
}


/*Advanced Search*/
#adsearch-label {
    font-size: 20px;
}
#formcontainer {
    width: 60%;
}
#column-left-label {
    min-width: 800px;
}
.column-left {
    min-width: 200px;
    height: 50px;
}
.column-center {
    width: 600px;
}
.column-right {
    width: 500px;
}
#submit-btn {
    padding-left: 820px;
}

/*Image Search*/
#img-upload-icon {
    width: 50%;
}
